<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>GPT-3 Persona Bot: {{name}}</title>
  </head>
  <body>
    <h1>GPT-3 Persona Bot</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm the {{ name }} persona.</span></p>
      </div>
      <div id="loading">
        <img src="/static/spinner.gif" class="loading">
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          $("#textInput").prop( "disabled", true );
          $("#buttonInput").prop( "disabled", true );
          $("#loading").show()
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            console.log(data)
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            $("#textInput").prop( "disabled", false );
            $("#buttonInput").prop( "disabled", false );
            $("#loading").hide()
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>

